<configuration scan="true" scanPeriod="60 seconds">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

<!--    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <File>log.txt</File>
        <Append>false</Append>
        <MaxBackupIndex>10</MaxBackupIndex>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>-->

    <root level="info">
        <appender-ref ref="STDOUT" />
        <!--<appender-ref ref="file" />-->
    </root>
  
    <logger name="it.unibas.questionari.persistenza" level="DEBUG"/>

</configuration>